/*
font-family: 'Indie Flower', cursive;
font-family: 'Oswald', sans-serif;

*/

html {
  font-size: 16px;
  line-height: 1.2;

}
nav, button, span, h3, h4{
  font-family: 'Oswald', sans-serif;
}

h1{
  font-family: 'Indie Flower', cursive;
  font-weight: bold;

}


.container {
  width: 960px;
}


/*            HEADER               */

header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  width: 100%;
  background-color: #494e6b;
}

.logo {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
}

.logo img {
  height: 2rem;
}

.lastword {
  color: #98878f;
}

nav ul li {
  display: inline;
  padding-left: 1rem;
}

.mobilenav {
  display: none;
}


/*            Learn         */

.learn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 1.5rem;
  background-color: #192231;
  width: 100%;
}

.learn .left {
  width: 60%;
}

.learn .left img {
  width: 100%;
}

.learn .right {
  width: 40%;
  padding-left: 2rem;
}

.learn .right span {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.learn .right h1 {
  font-size: 4rem;
  padding-bottom: 2rem;
}

.learn .right h3 {
  font-size: 2rem;
  padding-bottom: 2rem;
}

.learn .right button {
  font-size: 2.5rem;
  width: 100%;
  padding: 0.5rem 0;
  background-color: black;
  color: #4B4E57;
}


/*     CAMPUS INFO      */

.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 1.5rem;
  width: 100%;
  background-color: #494e6b;
}

.about .left {
  width: 60%;
}

.about .left img {
  width: 100%;
}

.about .left h1 {
  padding-top: 2rem;
  font-size: 4rem;
}

.about .left h3 {
  font-size: 1.5rem;
  padding-top: 1.5rem;
}

.about .left h4 {
  font-size: 1.2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.about .right .info {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.about .right .moreinfo {
  padding-left: 2rem;
}

.about .right h2 {
  font-size: 2rem;
}

.about .right h4 {
  font-size: 1rem;
}

.about .right h2, h4, button {
  padding: 0.5rem 0;
}

.about .right button {
  background-color: #494e6b;
  border: none;
    color: #192231;
}

.about .right .info img {
  width: auto;
  padding: 1rem 1rem;
}

.startlearn {
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 4rem;
  padding: 2rem 0;
  background-color: #192231;
}


/*         DEGREES               */

.degrees {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  padding: 2rem 4rem;
  background-color: #192231;
}

.degrees .program {
  background-color: #98536d;
  padding: 2rem 1rem;
}

.degrees .program img {
  padding-top: 2rem;
}

.degrees .program h1, h2, h4 {
  padding: 0.5rem 1rem;
}

.degrees .program h4 {
  padding: 0.5rem 1rem;
}

.degrees .program h1 {
  font-size: 2rem;
}

.degrees .program h2 {
  font-size: 1.5rem;
}

.degrees .program h4 {
  font-size: 1rem;
}
.mobiledegree{
  display: none;
}


/*    THESIS      */
.thesislearn {
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 4rem;
  padding: 2rem 0;
  background-color: #494e6b;

}



.thesis {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 1.5rem;
  width: 100%;
  background-color: #494e6b;
}

.thesis .left {
  width: 60%;
}

.thesis .left img {
  width: 100%;
}

.thesis .left h1 {
  padding-top: 2rem;
  font-size: 4rem;
}

.thesis .left h3 {
  font-size: 1.5rem;
  padding-top: 1.5rem;
}

.thesis .right .info {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.thesis .right .moreinfo {
  padding-left: 2rem;
}

.thesis .right h2 {
  font-size: 2rem;
}

.thesis .right h4 {
  font-size: 1rem;
}

.thesis .right h2, h4, button {
  padding: 0.5rem 0;
}

.thesis .right button {
  background-color: white;
  border: none;
  color: blue;
}

.thesis .right .info img {
  width: auto;
  padding: 1rem 1rem;
}


/*   FOOTER    */

footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1rem 2rem;
  font-size: 1rem;
}


/*      MEDIA QUERIES        */

@media only screen and (max-width: 560px) {


  header{
      padding: 0 0;
    }
  header .logo {
    display: none;
  }
  header nav{
    display: none;
  }
  .mobilenav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 64px;
  }

  /*   LEARN    */
  .learn{
    display: inline;
    background-color: grey;


  }
  .learn .left{
    width: 100%;
    background-color: grey;
  }
  .learn .right{
    background-color: grey;
    width: 100%;
    padding-bottom: 2rem;
  }
  .learn .right button{


  }
  .learn .right h1{
    padding-top: 2rem;
  }
  .learn .right h3{
    padding-bottom: 1.5rem;
  }

/*    CAMPUS INFO  */
.about .left{
  display: none;
}
.about .right .info{
  display: inline;

}
.about .right h2, h4, button{
  padding-left: 1rem;
}
.about .right .moreinfo{
  padding-bottom: 2rem;
}
.startlearn{
  background-color: white;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

/*  DEGREES */
.degrees{
  display: none;


}
.mobiledegree{
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 2rem;
  padding-bottom: 2rem;

}
.mobiledegree h1{
  padding-top: 1rem;
  padding-bottom: 1.5rem;
  padding-left: 1rem;
  background-color: grey;

}
.mobiledegree span{
  padding-bottom: 0.5rem;

}

/* THESIS  */

.thesis{
  padding: 1rem 0;
}
.thesis .right{
  display: none;
}
.thesis .left{
  padding-left: 0;
  width: 100%;
}
.thesis .left video{
  width: 100%;
  padding-bottom: 1.5rem;
}
.thesis .left h1, h3{
  display: none;
}
.thesislearn{
  background-color: white;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

/*   FOOTER    */
footer nav{
  display: none;
}
footer span{
  padding: 1rem 0;
}





}
